<div class="col-6">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="M_ID" placeholder="아이디" name="M_ID" value="{{ this.M_ID }}">
		<label for="floatingInput">아이디</label>
	</div>
</div>
<div class="col-6">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="M_NAME" placeholder="이름" name="M_NAME" value="{{ this.M_NAME }}">
		<label for="floatingInput">이름</label>
	</div>
</div>
<div class='col-12 d-grid'>
	<button class="btn btn-primary" type="submit">저장</button>
</div>